@import '../../scss//vars';

.register-form {
  width: 350px;

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__footer-text {
    margin-bottom: 0;
  }

  &__footer-link {
    color: $blue-6;
    cursor: pointer;

    &:hover {
      color: $blue-7;
    }
  }
}
