@use './scss/vars';
@import '~antd/dist/antd.css';
@import './scss//reset';

font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto.woff2') format('woff2'), url('./assets/fonts/roboto.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/robotomedium.woff2') format('woff2'), url('./assets/fonts/robotomedium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/robotobold.woff2') format('woff2'), url('./assets/fonts/robotobold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: vars.$black;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

img {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

.h100 {
  height: calc(100vh - 64px);
}

.layout {
  min-height: 100vh;
}

.layout-container {
  max-width: 1200px;
  background-color: vars.$white;
  margin: 0 auto;
  padding: 10px;
}
